.hero {
  color: white;
  object-fit: cover;
  height: 500px;
  font-family: 'Roboto', sans-serif;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-bottom: 2rem;
  position: relative;
}
.hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: .35;
  z-index: 1;
}
.hero_poster {
  width: 100%;
  max-width: 400px;
}
.hero_contents {
  margin-left: 30px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.hero_left {
  max-width: 300px;
  z-index: 2;
}
.hero_title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}
.hero_description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.9rem;
  max-width: 360px;
  height: 80px;
}
.fadedBottom {
  height: 5rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
  position: absolute;
  bottom: 10px;
}
#current-video {
  max-height: 100%;
  max-width: 100%;
  z-index: 2;
}
  