.nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
  height: 30px;
  z-index: 99;
}
.nav_right {
  display: flex;
  margin-right: 20px;
  position: relative;
}
.nav_links {
  align-self: center;
}
.nav_links > * {
  color: aliceblue;
  text-decoration: none;
  margin-right: 20px;
  background: none;
  padding: 0;
  cursor: pointer;
  border: none;
  font: inherit;
  font-weight: 300;
  outline: inherit;
}
.nav_links > *:hover {
  color: red;
}
.nav_logo {
  margin-left: 20px;
  position: relative;
}
.nav_logo img {
  position: relative;
  object-fit: contain;
  height: 100%;
}
.nav_avatar {
  object-fit: contain;
  position: relative;
}
.black {
  height: 30px;
  background-color: #141414;
  transition: background-color 0.3s ease-in;
}
.nav_avatar_details {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(0, 100%);
  color: aliceblue;
  opacity: .9;
  background-color: rgba(40,40,40);
  padding: 1rem;
}
.nav_avatar:hover + .nav_avatar_details, .nav_avatar_details:hover {
  display: block;
}
