.row {
  margin-left: 10px;
  color: white;
}
.posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px 0px 20px 5px;
}
.posters.noScroll {
  flex-wrap: wrap;
  justify-content: center;
}
.posters.noScroll > div {
  margin: 1rem;
}
.posters::-webkit-scrollbar {
  display: none;
}
.posters > div {
  display: flex;
  position: relative;
  flex-direction: column;
}
.posters > div:hover h4 {
  color: red;
}
.poster {
  object-fit: contain;
  max-height: 150px;
  min-width: 300px;
  aspect-ratio: 16 / 9;
}
.posterLarge {
  max-height: 250px;
}
.poster::after {
  content: "subscription";
}
.subscription {
  flex: 1;
  color: gold;
  font-size: .8rem;
  font-weight: 100;
}
.subscription > img {
  max-width: 1rem;
  position: relative;
  top: 3px;
  margin-right: 3px;
}
.playing {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.playing-backdrop {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: black;
  opacity: .4;
}
.playing img {
  width: 20px;
  position: relative;
  top: 4px;
  margin-right: 4px;
}