h2 {
  font-weight: lighter;
}
.upload-container {
  text-align: center;
  max-width: 1024px;
  margin: auto;
  padding-top: 5rem;
}
#root.loading::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  opacity: .4;
  z-index: 99;
}
.upload {
  color: inherit;
  object-fit: cover;
  padding: 3rem 1rem 2rem 1rem;
  background-size: cover;
  background-position: center center; 
  font-family: 'Roboto', sans-serif;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.upload-input {
  background: none;
  border: 1px solid rgba(40,40,40);
  background: rgba(40,40,40);
  padding: .8rem 1.5rem;
  color: inherit;
  font-size: larger;
  width: 300px;
  margin-top: 8px;
  font-family: 'Nunito';
}
.upload-label {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  cursor: pointer;
}
.upload-area {
  border: none;
  position: relative;
  padding: 3rem;
  pointer-events: all;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23ccc' stroke-width='2' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  background-color: rgba(40,40,40);
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
}
.upload-area:hover, .upload-area:focus {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='red' stroke-width='2' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}
.upload-area-icon {
  display: block;
  width: 2.25rem;
  height: 2.25rem;
  margin-bottom: 1rem;
}
.upload-area-icon img {
  max-height: 100%;
  max-width: 100%;
}
.upload-area-title, .upload-area-description {
  margin: 5px;
}
.upload-area-description strong {
  color: red;
}
.preview-upload {
  width: 300px;
  margin-top: 1rem;
  aspect-ratio: 16 / 9;
  object-fit: contain;
}
.btn-primary {
  padding: .8rem 1.5rem;
  border: none;
  border-radius: 0.25rem;
  color: inherit;
  background-color: red;
  cursor: pointer;
}
.btn-primary:disabled {
  background: gray;
}
.access-control  {
  text-align: left;
  max-width: 300px;
  margin: 1rem auto;
}
.radio {
  height: 3rem;
}
.radio input[type=radio] {
  position: absolute;
  opacity: 0;
}
.radio input[type=radio] + .radio-label:before {
  content: '';
  background: aliceblue;
  border-radius: 100%;
  border: 1px solid aliceblue;
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  position: relative;
  top: -0.2rem;
  margin-right: 1rem;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 200ms ease;
}
.radio input[type=radio]:checked + .radio-label:before {
  background-color: red;
  box-shadow: inset 0 0 0 4px aliceblue;
}
.radio input[type=radio]:focus + .radio-label:before {
  outline: none;
  border-color: red;
}
.radio input[type=radio]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px aliceblue;
  border-color: aliceblue;
  background: aliceblue;
}
.radio input[type=radio] + .radio-label:empty:before {
  margin-right: 0;
}
#upload-fees {
  display: inline-block;
  width: 60px;
  height: 15px;
  margin: 0;
  margin-left: 20px;
}
#upload-fees[hidden] {
  display: none;
}