@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200,400;0,300;1,200;1,300&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500&display=swap');
* {
  margin: 0;
}
html, .app {
  background: #141414;
  color: aliceblue;
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
}
#root {
  position: relative;
}
